---
export const prerender = false;
import AppealForm from "@/components/AppealForm.svelte";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
	<div>
		<h1 class="font-black text-4xl text-center mt-2">Appeal</h1>
		<p class="font-thin text-lg mt-4 mb-8 text-center">
			Appeal to the Menhera team
		</p>
		<AppealForm client:only />
	</div>
</BaseLayout>

<script>
	if (!document.cookie.includes("token=")) {
		location.href =
			"/api/auth/discord/login?state=" + encodeURIComponent(location.pathname);
	}
</script>
