---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Credits">
	<h1 class="font-black text-4xl my-8 text-center">Credits</h1>
	<p class="text-center">
		While everything is mostly my own there are some assets that are not{" "}
		<span class="font-black">:D</span>
	</p>
	<ul class="flex justify-center list-disc">
		<li>
			<a href="/favicon.ico" target="_blank" class="link"> favicon </a>
			{" - "}
			<a href="https://lit.link/en/miratsu169" target="_blank" class="link">
				miratsu169
			</a>
		</li>
	</ul>
</BaseLayout>
