---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";

function ReturnProjects(): {
  name: string;
  description: string;
  demo?: { url: string; target?: string };
  repo?: { url: string; target?: string };
  status: "active" | "paused" | "discontinued" | "unknown";
}[] {
  return [
    {
      name: "Menherachan Bot",
      description: "A multipurpose discord bot made with OpenianDev",
      demo: {
        url: "https://discord.com/oauth2/authorize?client_id=731143954032230453&scope=bot%20applications.commands",
      },
      repo: { url: "https://github.com/OpenianDevelopment/Menhera-Chan" },
      status: "paused",
    },
    {
      name: "Menherachan Dashboard",
      description: "A dashboard for Menherachan Bot",
      // demo: "https://menherachan.norowa.dev/",
      status: "unknown",
    },
    {
      name: "CDNE (next)",
      description:
        "little fuzzy/linear local image search site by route in nextjs",
      demo: { url: "https://cdne.norowa.dev/" },
      repo: { url: "https://github.com/Noro95/cdne/tree/next" },
      status: "active",
    },
    {
      name: "CDNE (vue)",
      description: "little fuzzy/linear local image search site by UI in vue",
      demo: { url: "https://cdne.pages.dev" },
      repo: { url: "https://github.com/Noro95/cdne/tree/vue" },
      status: "active",
    },
    {
      name: "Gitbot",
      description:
        "A Bot that integrates Github's Actions and API with Discord's commands",
      demo: { url: "/gitbot", target: "_self" },
      repo: { url: "https://github.com/Noro95/gitbot" },
      status: "active",
    },
    // always last
    {
      name: "You can see my other repos on github",
      description: "just press the button below",
      repo: { url: "https://github.com/Noro95?tab=repositories" },
      status: "active",
    },
  ];
}
---

<Layout title="Noro">
  <main>
    <div class="flex justify-evenly items-center pt-8">
      <div class="float-left dark:invert">
        <img
          src="/images/noro-avatar.png"
          alt="Noro's Avatar"
          width={128}
          height={128}
          class="rounded-full"
        />
      </div>
      <div class="flex flex-col items-center justify-evenly p-4">
        <h1 class="text-4xl font-bold">Hi, I&#39;m Noro!</h1>
        <p class="text-lg font-semibold">A self-taught lil developer</p>
      </div>
    </div>
    <h2 class="text-2xl font-bold text-center">Projects</h2>
    <section class="projects-section mt-8">
      {ReturnProjects().map((item) => <ProjectCard input={item} />)}
    </section>
    <a
      class="fixed bottom-3 right-2 p-3 cursor-help bg-white dark:bg-black border-2 border-dotted border-black dark:border-white rounded-md hover:bg-black hover:dark:bg-white hover:text-white hover:dark:text-black hover:border-solid transition-all duration-700 hover:animate-pulse focus:animate-ping"
      href="/credits"
    >
      Credits
    </a>
  </main>
</Layout>
