---
import { Icon } from "astro-icon/components";

interface Props {
	input: {
		name: string;
		description: string;
		demo?: { url: string; target?: string };
		repo?: { url: string; target?: string };
	};
}

const { input } = Astro.props;
---

<div class={`rounded-md border-2 border-black dark:border-white project-card`}>
	<span class="pb-4 font-semibold text-lg">{input.name}</span>
	<p class="text-md">{input.description}</p>
	<div class="mt-2 flex flex-row justify-evenly">
		{
			input.demo && (
				<a
					target={input.demo.target || "_blank"}
					href={input.demo.url}
					class="obj-scale"
					aria-label={input.name + " demo url"}
				>
					<Icon name="earth" size="24" />
				</a>
			)
		}
		{
			input.repo && (
				<a
					target={input.repo.target || "_blank"}
					href={input.repo.url}
					class="obj-scale"
					aria-label={input.name + " github repo url"}
				>
					<Icon name="github" size="24" />
				</a>
			)
		}
	</div>
</div>
