---
import BaseLayout from "./BaseLayout.astro";

interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<BaseLayout>
  <Fragment slot="head">
    <link rel="icon" href="/images/git-logo.webp" />
    <title>{title ? `${title} | Gitbot` : "Gitbot"}</title>
    <meta
      name="description"
      content="A Discord Bot integrated with the GitHub API"
    />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Gitbot" />
    <meta name="twitter:image" content="/images/git-logo.webp" />
  </Fragment>
  <slot />
</BaseLayout>
